@media screen and (max-width: 1550px) and (min-width: 1400px) {
  .container {
    width: 100%;
    padding: 0 -15px;
    box-sizing: content-box; }

  .article {
    width: 100%;
    height: 1035px;
    margin-left: 6%;
    margin-right: 6%; }

  .article-next-left {
    width: 45%; }

  .article-next-right {
    width: 45%; }

  .header-logo-name {
    height: 24px; }

  .fa-quote-right {
    padding-left: 1180px; }

  .slick-dots {
    bottom: 30px; }

  .slider-centre-wrap
  .slick-slide img {
    width: 100%; }

  .quote-slider-wrap .slick-dots {
    bottom: 50px; }

  .quote-slider-content {
    padding: 50px 30px; } }
@media screen and (max-width: 1399px) and (min-width: 1200px) {
  .container {
    width: 1170px;
    padding: 0 15px;
    box-sizing: content-box; }

  .header-logo-link {
    height: 24px; }

  .article {
    width: 100%;
    height: 1035px;
    margin-left: 8%;
    margin-right: 8%; }

  .article-slider-wrap {
    width: 100%;
    margin-left: 5%; }

  .article-next-left {
    width: 40%; }

  .article-next-right {
    width: 45%; }

  .menu {
    margin-left: 2%; }

  .menu-list-content {
    margin-left: 40px; }

  .slider-centre {
    width: 100%;
    height: 1200px; }

  .slider-centre-wrap {
    width: 56%; }

  .slider-centre-wrap .slick-slide img {
    width: 100%; }

  .fa-quote-right {
    padding-left: 1085px; }

  .fa-quote-right {
    padding-left: 1375px; }

  .menu {
    margin-left: 1%;
    margin-right: 1%; }

  .menu-list,
  .menu-first-column-image,
  .menu-second-column-image,
  .menu-third-column-image {
    margin-left: 6px; }

  .menu-list {
    width: 250px; }

  .quote-slider-wrap .slick-dots {
    bottom: 30px; }

  .quote-slider-content {
    padding: 35px 30px; }

  .quote-slider-wrap .slick-dots {
    bottom: 50px; }

  .quote-slider-content {
    padding: 50px 30px; } }
@media screen and (max-width: 1199px) and (min-width: 993px) {
  .container {
    width: 100%;
    padding: 0 -15px;
    box-sizing: content-box; }

  .header-logo-link {
    height: 24px;
    margin-left: -50%; }

  .banner-text-title {
    margin-left: 18%; }

  .banner-text-content {
    margin-left: 24%; }

  .article {
    width: 100%;
    height: 1035px;
    margin-left: 8%;
    margin-right: 8%; }

  .article-slider-wrap {
    width: 100%;
    margin-left: 5%; }

  .article-next-left {
    width: 40%; }

  .article-next-right {
    width: 45%; }

  .menu {
    margin-left: 2%; }

  .menu-list-content {
    margin-left: 40px; }

  .slider-centre {
    width: 100%;
    height: 1200px; }

  .slider-centre-wrap {
    width: 56%; }

  .slider-centre-wrap .slick-slide img {
    width: 100%; }

  .fa-quote-right {
    padding-left: 1085px; }

  .fa-quote-right {
    padding-left: 1375px; }

  .menu {
    margin-left: 0;
    margin-right: 0; }

  .menu-list,
  .menu-first-column-image,
  .menu-second-column-image,
  .menu-third-column-image {
    width: 270px;
    margin-left: 4px; }

  .menu-list {
    width: 155px; }

  .quote-slider-wrap .slick-dots {
    bottom: 30px; }

  .quote-slider-content {
    padding: 35px 30px; }

  .quote-slider-wrap .slick-dots {
    bottom: 50px; }

  .quote-slider-content {
    padding: 50px 30px; } }
@media screen and (max-width: 992px) and (min-width: 769px) {
  .container {
    width: 100%;
    padding: 0 -15px;
    box-sizing: content-box; }

  .header {
    height: 120px; }

  .header-logo {
    height: 120px; }

  .header-logo-link {
    height: 30px;
    margin-left: -110%;
    margin-top: 50px; }

  .slicknav_menu {
    display: block; }

  .slicknav_btn {
    text-decoration: none;
    color: #63c6ae;
    font-size: 26px;
    font-family: "Conv_sintony_[allfont.ru]";
    font-weight: 700;
    margin-top: 10px;
    margin-left: 25px; }

  .header-nav {
    display: none; }

  .header-nav-list {
    margin-top: 12px; }

  .header-nav-item {
    width: 25.75%;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    float: left; }

  .header-nav-item:first-child {
    margin-left: 0; }

  .fa-bars {
    float: right;
    margin-right: 25px; }

  .banner-text-title {
    margin-left: 5%; }

  .banner-text-content {
    margin-left: 12%; }

  .banner-text-button {
    margin-left: 40%; }

  .article {
    width: 100%;
    height: 1035px;
    margin-left: 3%;
    margin-right: 3%; }

  .article-slider-wrap {
    width: 100%;
    margin-left: 5%; }
    .article-slider-wrap .slick-dots {
      left: -65px; }

  .article-next-left {
    width: 45%; }

  .article-next-right {
    width: 45%; }

  .menu {
    margin-left: 2%;
    height: 750px; }

  .menu-list-content {
    margin-left: 15px; }

  .menu-list,
  .menu-first-column-image,
  .menu-second-column-image,
  .menu-third-column-image {
    width: 21%;
    float: left;
    margin-bottom: 30px;
    margin-left: 20px; }

  .first-column-img1,
  .first-column-img2,
  .second-column-img1,
  .second-column-img2,
  .third-column-img1,
  .third-column-img2 {
    width: 100%; }

  .first-column-img1,
  .second-column-img1,
  .third-column-img1 {
    margin-bottom: 10px; }

  .slider-centre {
    width: 100%;
    height: 950px; }

  .slider-centre-wrap {
    width: 56%; }

  .slider-centre-wrap .slick-slide img {
    width: 100%; }

  .menu {
    margin-left: 0;
    margin-right: 0; }

  .quote-slider-wrap .slick-dots {
    bottom: 30px; }

  .quote-slider-content {
    padding: 35px 30px; }

  .quote-slider-content-text {
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 24px; }

  .quote-slider-wrap .slick-dots {
    bottom: 50px; }

  .fa-quote-left,
  .fa-quote-right {
    font-size: 12px; }

  .quote-slider-content {
    padding: 50px 30px; }

  .quote-slider-content-note {
    font-size: 14px; }

  .footer-content {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%; }

  .footer-content-about {
    width: 28%; }

  .footer-content-about-next {
    width: 18%; } }
@media screen and (max-width: 768px) and (min-width: 481px) {
  .container {
    width: 100%;
    padding: 0 -15px;
    box-sizing: content-box; }

  .header {
    height: 150px; }

  .header-logo {
    height: 150px;
    width: 34%; }

  .header-logo-link {
    height: 30px;
    margin-left: -30px;
    margin-top: 70px; }

  .header-nav {
    width: 66%; }

  .slicknav_menu {
    display: block; }

  .slicknav_btn {
    text-decoration: none;
    color: #63c6ae;
    font-size: 26px;
    font-family: "Conv_sintony_[allfont.ru]";
    font-weight: 700;
    margin-top: 10px;
    margin-left: 25px; }

  .header-nav {
    display: none; }

  .header-nav-list {
    margin-top: 12px; }

  .header-nav-item {
    width: 33%;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    float: left; }

  .header-nav-item:first-child {
    margin-left: 0; }

  .fa-bars {
    float: right;
    margin-right: 25px; }

  .banner-text-title {
    margin-left: 1%;
    font-size: 26px;
    padding: 38px 15px 40px; }

  .banner-text-content {
    margin-left: 1%;
    font-size: 14px; }

  .banner-text-button {
    margin-left: 40%; }

  .article {
    width: 100%;
    height: 1380px;
    margin-left: 3%;
    margin-right: 3%; }

  .article-slider-wrap {
    width: 100%;
    margin-left: 1.21%; }
    .article-slider-wrap .slick-dots {
      left: -65px; }

  .article-next-left-button {
    margin-bottom: 50px; }

  .article-next-left {
    width: 95%; }

  .article-next-right {
    width: 95%; }

  .menu {
    margin-left: 2%;
    height: 750px; }

  .menu-list-content {
    margin-left: 15px; }

  .menu-list,
  .menu-first-column-image,
  .menu-second-column-image,
  .menu-third-column-image {
    width: 39%;
    float: left;
    margin-bottom: 30px;
    margin-left: 20px; }

  .first-column-img1,
  .first-column-img2,
  .second-column-img1,
  .second-column-img2,
  .third-column-img1,
  .third-column-img2 {
    width: 100%; }

  .first-column-img1,
  .second-column-img1,
  .third-column-img1 {
    margin-bottom: 10px; }

  .slider-centre {
    width: 100%;
    height: 800px; }

  .slider-centre-wrap {
    width: 56%; }

  .slick-prev,
  .slick-next {
    top: 225px; }

  .slider-centre-wrap .slick-prev {
    left: -80px; }

  .slider-centre-wrap .slick-next {
    right: -80px; }

  .slider-centre-wrap .slick-slide img {
    width: 100%; }

  .menu {
    margin-left: 0;
    margin-right: 0; }

  .quote-slider-wrap .slick-dots {
    bottom: 30px; }

  .quote-slider-wrap .slick-prev {
    left: -55px; }

  .quote-slider-wrap.slick-next {
    right: -55px; }

  .quote-slider-content {
    padding: 25px 30px; }

  .quote-slider-content-text {
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 20px; }

  .quote-slider-wrap .slick-dots {
    bottom: 50px; }

  .quote-slider-wrap .slick-prev {
    margin-top: -15px; }

  .quote-slider-wrap .slick-next {
    margin-top: -15px; }

  .fa-quote-left,
  .fa-quote-right {
    font-size: 12px; }

  .quote-slider-content {
    padding: 50px 30px; }

  .quote-slider-content-note {
    font-size: 14px; }

  .footer-content {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%; }

  .footer-content-logo,
  .footer-content-about,
  .footer-content-about-next,
  .footer-content-menu {
    width: 90%;
    margin-left: 1%;
    margin-right: 1%; }

  .footer-content-menu-list {
    width: 100%; }

  .footer-content-menu-item {
    width: 20%;
    float: left;
    text-align: center;
    display: inline-block;
    position: relative; }

  .footer-content-menu-item:first-child {
    line-height: 36px; } }
@media screen and (max-width: 480px) and (min-width: 320px) {
  .container {
    width: 100%;
    padding: 0 -15px;
    box-sizing: content-box; }

  .header {
    height: 220px; }

  .header-logo {
    height: 71px;
    width: 100%; }

  .header-logo-link {
    height: 30px;
    margin-left: -30px; }

  .header-nav {
    width: 100%; }

  .slicknav_menu {
    display: block; }

  .slicknav_btn {
    text-decoration: none;
    color: #63c6ae;
    font-size: 26px;
    font-family: "Conv_sintony_[allfont.ru]";
    font-weight: 700;
    margin-top: 10px;
    margin-left: 25px; }

  .header-nav {
    display: none; }

  .header-nav-list {
    margin-top: 12px; }

  .header-nav-item {
    width: 50%;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    float: left; }

  .header-nav-item:first-child {
    margin-left: 0; }

  .fa-bars {
    float: right;
    margin-right: 25px; }

  .banner-text-title {
    margin-left: 1%;
    font-size: 16px;
    padding: 15px 15px 15px; }

  .banner-text-content {
    margin-left: 1%;
    font-size: 14px;
    line-height: 19px;
    padding: 25px 47px 41px; }

  .banner-text-button {
    margin-left: 30%; }

  .article {
    width: 100%;
    height: 1650px;
    margin-left: 3%;
    margin-right: 3%; }

  .article-slider-wrap {
    width: 100%;
    margin-left: 1.21%; }
    .article-slider-wrap .slick-dots {
      left: -65px; }

  .article-slider-wrap .slick-dots li {
    margin: 0;
    width: 8px;
    height: 8px;
    padding: 0 5px; }

  .article-next-left-button {
    margin-bottom: 50px; }

  .article-next-left {
    width: 95%; }

  .article-next-right {
    width: 95%; }

  .article-next-left-btn1, .article-next-left-btn2 {
    padding: 20px 30px; }

  .menu {
    margin-left: 1%;
    height: 750px; }

  .menu-list-content {
    margin-left: 25%; }

  .menu-list {
    width: 90%;
    float: none; }

  .menu-first-column-image,
  .menu-second-column-image,
  .menu-third-column-image {
    width: 28%; }

  .first-column-img1,
  .first-column-img2,
  .second-column-img1,
  .second-column-img2,
  .third-column-img1,
  .third-column-img2 {
    width: 100%; }

  .first-column-img1,
  .second-column-img1,
  .third-column-img1 {
    margin-bottom: 10px; }

  .slider-centre {
    width: 100%;
    height: 650px; }

  .slider-centre-wrap {
    width: 56%; }

  .slick-prev,
  .slick-next {
    top: 225px; }

  .slider-centre-wrap .slick-prev {
    left: -50px; }

  .slider-centre-wrap .slick-next {
    right: -50px; }

  .slider-centre-wrap .slick-slide img {
    width: 100%; }

  .article-slider-wrap .slick-dots li button {
    width: 4px;
    height: 4px;
    margin: 85px 7px 0; }

  .quote-slider-wrap .slick-dots {
    bottom: 30px; }

  .quote-slider-wrap .slick-prev {
    left: -55px; }

  .quote-slider-wrap.slick-next {
    right: -55px; }

  .quote-slider-content {
    padding: 25px 30px; }

  .quote-slider-content-text {
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 14px; }

  .quote-slider-wrap .slick-dots {
    bottom: 30px; }

  .quote-slider-wrap .slick-prev {
    margin-top: -15px; }

  .quote-slider-wrap .slick-next {
    margin-top: -15px; }

  .fa-quote-left,
  .fa-quote-right {
    font-size: 10px; }

  .quote-slider-content {
    padding: 50px 30px; }

  .quote-slider-content-note {
    font-size: 10px;
    margin-top: -15px; }

  .footer {
    height: 635px; }

  .footer-content {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%; }

  .footer-content-logo,
  .footer-content-about,
  .footer-content-about-next,
  .footer-content-menu {
    width: 90%;
    margin-left: 0;
    margin-right: 0; }

  .footer-content-menu-list {
    width: 100%; }

  .footer-content-menu-item {
    width: 20%;
    float: left;
    text-align: center;
    display: inline-block;
    position: relative;
    font-size: 10px; }

  .footer-content-menu-item:first-child {
    line-height: 36px; } }
